<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdt.nepush">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.UCenterActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:fitsSystemWindows="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AddFriendActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.AddFriendActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HandleAddFriendActivity">

        </activity>
    </application>

</manifest>